name: Run tests
on:
  push:
  pull_request:
  schedule:
    - cron: '3 20 * * SUN'

permissions: {}

jobs:
  build:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    name: Dotnet on ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
          persist-credentials: false

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x

      - name: Build
        run: dotnet build

      - name: Run tests
        run: dotnet test
