name: Run tests
on:
  push:
  pull_request:
  schedule:
    - cron: '3 20 * * SUN'

jobs:
  build:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    name: Dotnet on ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            6.0.x
            7.0.x
            8.0.x

      - name: Build
        run: |
              dotnet build MaxMind.MinFraud
              dotnet build MaxMind.MinFraud.UnitTest

      - name: Run tests
        run: dotnet test MaxMind.MinFraud.UnitTest/MaxMind.MinFraud.UnitTest.csproj
